New Text Document.txt
tempCodeRunnerFile.python
test.py
test2.py
tempCodeRunnerFile.py
tempCodeRunnerFile.python
Steganocrypt.code-workspace
cipher.txt
encrypted.bin
__pycache__
Output_image/steg.png
cipher.txt
encrypted.bin